@font-face {
  font-family: 'font awesome 5 free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url(../webfonts/fa-solid-900.eot);
  src: url(../webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"), url(../webfonts/fa-solid-900.woff2) format("woff2"), url(../webfonts/fa-solid-900.woff) format("woff"), url(../webfonts/fa-solid-900.ttf) format("truetype"), url(../webfonts/fa-solid-900.svg#fontawesome) format("svg")
}

.fa,
.fas {
  font-family: 'font awesome 5 free';
  font-weight: 900
}

@font-face {
  font-family: 'font awesome 5 brands';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(../webfonts/fa-brands-400.eot);
  src: url(../webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"), url(../webfonts/fa-brands-400.woff2) format("woff2"), url(../webfonts/fa-brands-400.woff) format("woff"), url(../webfonts/fa-brands-400.ttf) format("truetype"), url(../webfonts/fa-brands-400.svg#fontawesome) format("svg")
}

.fab {
  font-family: 'font awesome 5 brands'
}

.td-border-top {
  border: none;
  border-top: 1px solid #eee
}

.td-border-none {
  border: none
}

.td-block-padding,
.td-default main section {
  padding-top: 4rem;
  padding-bottom: 4rem
}

@media(min-width:768px) {
  .td-block-padding,
  .td-default main section {
    padding-top: 5rem;
    padding-bottom: 5rem
  }
}

.td-overlay {
  position: relative
}

.td-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

.td-overlay--dark::after {
  background-color: rgba(64, 63, 76, .3)
}

.td-overlay--light::after {
  background-color: rgba(211, 243, 238, .3)
}

.td-overlay__inner {
  position: relative;
  z-index: 1
}

@media(min-width:992px) {
  .td-max-width-on-larger-screens,
  .td-content>pre,
  .td-content>.highlight,
  .td-content>.lead,
  .td-content>h1,
  .td-content>h2,
  .td-content>ul,
  .td-content>ol,
  .td-content>p,
  .td-content>blockquote,
  .td-content>dl dd,
  .td-content .footnotes,
  .td-content>.alert {
    max-width: 80%
  }
}

.-bg-blue {
  color: #fff;
  background-color: #72a1e5
}

.-bg-blue p>a {
  color: #a0c0ee
}

.-text-blue {
  color: #72a1e5
}

.-bg-indigo {
  color: #fff;
  background-color: #6610f2
}

.-bg-indigo p>a {
  color: #b8cff2
}

.-text-indigo {
  color: #6610f2
}

.-bg-purple {
  color: #fff;
  background-color: #6f42c1
}

.-bg-purple p>a {
  color: #b7cff2
}

.-text-purple {
  color: #6f42c1
}

.-bg-pink {
  color: #fff;
  background-color: #e83e8c
}

.-bg-pink p>a {
  color: #aec9f0
}

.-text-pink {
  color: #e83e8c
}

.-bg-red {
  color: #fff;
  background-color: #dc3545
}

.-bg-red p>a {
  color: #b4cdf1
}

.-text-red {
  color: #dc3545
}

.-bg-orange {
  color: #fff;
  background-color: #ba5a31
}

.-bg-orange p>a {
  color: #bed4f3
}

.-text-orange {
  color: #ba5a31
}

.-bg-yellow {
  color: #fff;
  background-color: #ffc107
}

.-bg-yellow p>a {
  color: #b7cff2
}

.-text-yellow {
  color: #ffc107
}

.-bg-green {
  color: #fff;
  background-color: #28a745
}

.-bg-green p>a {
  color: #c6d9f4
}

.-text-green {
  color: #28a745
}

.-bg-teal {
  color: #fff;
  background-color: #20c997
}

.-bg-teal p>a {
  color: #bfd4f3
}

.-text-teal {
  color: #20c997
}

.-bg-cyan {
  color: #fff;
  background-color: #17a2b8
}

.-bg-cyan p>a {
  color: #c6d9f4
}

.-text-cyan {
  color: #17a2b8
}

.-bg-white {
  color: #222;
  background-color: #fff
}

.-bg-white p>a {
  color: #72a1e5
}

.-text-white {
  color: #fff
}

.-bg-gray {
  color: #fff;
  background-color: #888
}

.-bg-gray p>a {
  color: #b4cdf1
}

.-text-gray {
  color: #888
}

.-bg-gray-dark {
  color: #fff;
  background-color: #333
}

.-bg-gray-dark p>a {
  color: #e3ecfa
}

.-text-gray-dark {
  color: #333
}

.-bg-primary {
  color: #fff;
  background-color: #30638e
}

.-bg-primary p>a {
  color: #cadcf5
}

.-text-primary {
  color: #30638e
}

.-bg-secondary {
  color: #fff;
  background-color: #d95040
}

.-bg-secondary p>a {
  color: #b1cbf1
}

.-text-secondary {
  color: #d95040
}

.-bg-success {
  color: #fff;
  background-color: #3772ff
}

.-bg-success p>a {
  color: #a9c6ef
}

.-text-success {
  color: #3772ff
}

.-bg-info {
  color: #222;
  background-color: #c0e0de
}

.-bg-info p>a {
  color: #638ac1
}

.-text-info {
  color: #c0e0de
}

.-bg-warning {
  color: #fff;
  background-color: #ed6a5a
}

.-bg-warning p>a {
  color: #a5c3ee
}

.-text-warning {
  color: #ed6a5a
}

.-bg-danger {
  color: #fff;
  background-color: #ed6a5a
}

.-bg-danger p>a {
  color: #a5c3ee
}

.-text-danger {
  color: #ed6a5a
}

.-bg-light {
  color: #222;
  background-color: #d3f3ee
}

.-bg-light p>a {
  color: #6993d0
}

.-text-light {
  color: #d3f3ee
}

.-bg-dark {
  color: #fff;
  background-color: #403f4c
}

.-bg-dark p>a {
  color: #d9e5f8
}

.-text-dark {
  color: #403f4c
}

.-bg-100 {
  color: #222;
  background-color: #f8f9fa
}

.-bg-100 p>a {
  color: #709ee0
}

.-text-100 {
  color: #f8f9fa
}

.-bg-200 {
  color: #222;
  background-color: #eee
}

.-bg-200 p>a {
  color: #6d99d8
}

.-text-200 {
  color: #eee
}

.-bg-300 {
  color: #222;
  background-color: #dee2e6
}

.-bg-300 p>a {
  color: #6993cf
}

.-text-300 {
  color: #dee2e6
}

.-bg-400 {
  color: #222;
  background-color: #ccc
}

.-bg-400 p>a {
  color: #6288be
}

.-text-400 {
  color: #ccc
}

.-bg-500 {
  color: #fff;
  background-color: #adb5bd
}

.-bg-500 p>a {
  color: #9bbced
}

.-text-500 {
  color: #adb5bd
}

.-bg-600 {
  color: #fff;
  background-color: #888
}

.-bg-600 p>a {
  color: #b4cdf1
}

.-text-600 {
  color: #888
}

.-bg-700 {
  color: #fff;
  background-color: #495057
}

.-bg-700 p>a {
  color: #d3e2f7
}

.-text-700 {
  color: #495057
}

.-bg-800 {
  color: #fff;
  background-color: #333
}

.-bg-800 p>a {
  color: #e3ecfa
}

.-text-800 {
  color: #333
}

.-bg-900 {
  color: #fff;
  background-color: #222
}

.-bg-900 p>a {
  color: #ecf2fc
}

.-text-900 {
  color: #222
}

.-bg-0 {
  color: #fff;
  background-color: #403f4c
}

.-bg-0 p>a {
  color: #d9e5f8
}

.-text-0 {
  color: #403f4c
}

.-bg-1 {
  color: #fff;
  background-color: #30638e
}

.-bg-1 p>a {
  color: #cadcf5
}

.-text-1 {
  color: #30638e
}

.-bg-2 {
  color: #fff;
  background-color: #d95040
}

.-bg-2 p>a {
  color: #b1cbf1
}

.-text-2 {
  color: #d95040
}

.-bg-3 {
  color: #222;
  background-color: #c0e0de
}

.-bg-3 p>a {
  color: #638ac1
}

.-text-3 {
  color: #c0e0de
}

.-bg-4 {
  color: #222;
  background-color: #fff
}

.-bg-4 p>a {
  color: #72a1e5
}

.-text-4 {
  color: #fff
}

.-bg-5 {
  color: #fff;
  background-color: #888
}

.-bg-5 p>a {
  color: #b4cdf1
}

.-text-5 {
  color: #888
}

.-bg-6 {
  color: #fff;
  background-color: #3772ff
}

.-bg-6 p>a {
  color: #a9c6ef
}

.-text-6 {
  color: #3772ff
}

.-bg-7 {
  color: #fff;
  background-color: #ed6a5a
}

.-bg-7 p>a {
  color: #a5c3ee
}

.-text-7 {
  color: #ed6a5a
}

.-bg-8 {
  color: #fff;
  background-color: #403f4c
}

.-bg-8 p>a {
  color: #d9e5f8
}

.-text-8 {
  color: #403f4c
}

.-bg-9 {
  color: #fff;
  background-color: #ed6a5a
}

.-bg-9 p>a {
  color: #a5c3ee
}

.-text-9 {
  color: #ed6a5a
}

.-bg-10 {
  color: #fff;
  background-color: #30638e
}

.-bg-10 p>a {
  color: #cadcf5
}

.-text-10 {
  color: #30638e
}

.-bg-11 {
  color: #fff;
  background-color: #d95040
}

.-bg-11 p>a {
  color: #b1cbf1
}

.-text-11 {
  color: #d95040
}

.-bg-12 {
  color: #222;
  background-color: #fff
}

.-bg-12 p>a {
  color: #72a1e5
}

.-text-12 {
  color: #fff
}

.-bg-13 {
  color: #222;
  background-color: #c0e0de
}

.-bg-13 p>a {
  color: #638ac1
}

.-text-13 {
  color: #c0e0de
}

.td-box--height-min {
  min-height: 300px
}

.td-box--height-med {
  min-height: 400px
}

.td-box--height-max {
  min-height: 500px
}

.td-box--height-full {
  min-height: 100vh
}

@media(min-width:768px) {
  .td-box--height-min {
    min-height: 450px
  }
  .td-box--height-med {
    min-height: 500px
  }
  .td-box--height-max {
    min-height: 650px
  }
}

.td-box .row.section {
  padding-left: 5rem;
  padding-right: 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}

.td-box .row {
  padding-left: 5rem;
  padding-right: 5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row
}

.td-box.linkbox {
  padding: 5rem
}

.td-box--0 {
  color: #fff;
  background-color: #403f4c
}

.td-box--0 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #403f4c transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--0 p>a {
  color: #d9e5f8
}

.td-box--10.td-box--gradient {
  background: #403F4C -webkit-gradient(linear, left top, left bottom, from(#5d5c67), to(#403F4C)) repeat-x!important;
  background: #403f4c -webkit-linear-gradient(top, #5d5c67, #403F4C) repeat-x!important;
  background: #403f4c -o-linear-gradient(top, #5d5c67, #403F4C) repeat-x!important;
  background: #403f4c linear-gradient(180deg, #5d5c67, #403F4C) repeat-x!important
}

.td-box--1 {
  color: #fff;
  background-color: #30638e
}

.td-box--1 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #30638e transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--1 p>a {
  color: #cadcf5
}

.td-box--11.td-box--gradient {
  background: #30638E -webkit-gradient(linear, left top, left bottom, from(#4f7a9f), to(#30638E)) repeat-x!important;
  background: #30638e -webkit-linear-gradient(top, #4f7a9f, #30638E) repeat-x!important;
  background: #30638e -o-linear-gradient(top, #4f7a9f, #30638E) repeat-x!important;
  background: #30638e linear-gradient(180deg, #4f7a9f, #30638E) repeat-x!important
}

.td-box--2 {
  color: #fff;
  background-color: #d95040
}

.td-box--2 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #d95040 transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--2 p>a {
  color: #b1cbf1
}

.td-box--12.td-box--gradient {
  background: #D95040 -webkit-gradient(linear, left top, left bottom, from(#df6a5d), to(#D95040)) repeat-x!important;
  background: #d95040 -webkit-linear-gradient(top, #df6a5d, #D95040) repeat-x!important;
  background: #d95040 -o-linear-gradient(top, #df6a5d, #D95040) repeat-x!important;
  background: #d95040 linear-gradient(180deg, #df6a5d, #D95040) repeat-x!important
}

.td-box--3 {
  color: #222;
  background-color: #c0e0de
}

.td-box--3 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #c0e0de transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--3 p>a {
  color: #638ac1
}

.td-box--13.td-box--gradient {
  background: #C0E0DE -webkit-gradient(linear, left top, left bottom, from(#c9e5e3), to(#C0E0DE)) repeat-x!important;
  background: #c0e0de -webkit-linear-gradient(top, #c9e5e3, #C0E0DE) repeat-x!important;
  background: #c0e0de -o-linear-gradient(top, #c9e5e3, #C0E0DE) repeat-x!important;
  background: #c0e0de linear-gradient(180deg, #c9e5e3, #C0E0DE) repeat-x!important
}

.td-box--4 {
  color: #222;
  background-color: #fff
}

.td-box--4 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #fff transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--4 p>a {
  color: #72a1e5
}

.td-box--14.td-box--gradient {
  background: white -webkit-gradient(linear, left top, left bottom, from(white), to(white)) repeat-x!important;
  background: #fff -webkit-linear-gradient(top, white, white) repeat-x!important;
  background: #fff -o-linear-gradient(top, white, white) repeat-x!important;
  background: #fff linear-gradient(180deg, white, white) repeat-x!important
}

.td-box--5 {
  color: #fff;
  background-color: #888
}

.td-box--5 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #888 transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--5 p>a {
  color: #b4cdf1
}

.td-box--15.td-box--gradient {
  background: #888 -webkit-gradient(linear, left top, left bottom, from(#9a9a9a), to(#888)) repeat-x!important;
  background: #888 -webkit-linear-gradient(top, #9a9a9a, #888) repeat-x!important;
  background: #888 -o-linear-gradient(top, #9a9a9a, #888) repeat-x!important;
  background: #888 linear-gradient(180deg, #9a9a9a, #888) repeat-x!important
}

.td-box--6 {
  color: #fff;
  background-color: #3772ff
}

.td-box--6 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #3772ff transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--6 p>a {
  color: #a9c6ef
}

.td-box--16.td-box--gradient {
  background: #3772FF -webkit-gradient(linear, left top, left bottom, from(#5587ff), to(#3772FF)) repeat-x!important;
  background: #3772ff -webkit-linear-gradient(top, #5587ff, #3772FF) repeat-x!important;
  background: #3772ff -o-linear-gradient(top, #5587ff, #3772FF) repeat-x!important;
  background: #3772ff linear-gradient(180deg, #5587ff, #3772FF) repeat-x!important
}

.td-box--7 {
  color: #fff;
  background-color: #ed6a5a
}

.td-box--7 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #ed6a5a transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--7 p>a {
  color: #a5c3ee
}

.td-box--17.td-box--gradient {
  background: #ED6A5A -webkit-gradient(linear, left top, left bottom, from(#f08073), to(#ED6A5A)) repeat-x!important;
  background: #ed6a5a -webkit-linear-gradient(top, #f08073, #ED6A5A) repeat-x!important;
  background: #ed6a5a -o-linear-gradient(top, #f08073, #ED6A5A) repeat-x!important;
  background: #ed6a5a linear-gradient(180deg, #f08073, #ED6A5A) repeat-x!important
}

.td-box--8 {
  color: #fff;
  background-color: #403f4c
}

.td-box--8 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #403f4c transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--8 p>a {
  color: #d9e5f8
}

.td-box--18.td-box--gradient {
  background: #403F4C -webkit-gradient(linear, left top, left bottom, from(#5d5c67), to(#403F4C)) repeat-x!important;
  background: #403f4c -webkit-linear-gradient(top, #5d5c67, #403F4C) repeat-x!important;
  background: #403f4c -o-linear-gradient(top, #5d5c67, #403F4C) repeat-x!important;
  background: #403f4c linear-gradient(180deg, #5d5c67, #403F4C) repeat-x!important
}

.td-box--9 {
  color: #fff;
  background-color: #ed6a5a
}

.td-box--9 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #ed6a5a transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--9 p>a {
  color: #a5c3ee
}

.td-box--19.td-box--gradient {
  background: #ED6A5A -webkit-gradient(linear, left top, left bottom, from(#f08073), to(#ED6A5A)) repeat-x!important;
  background: #ed6a5a -webkit-linear-gradient(top, #f08073, #ED6A5A) repeat-x!important;
  background: #ed6a5a -o-linear-gradient(top, #f08073, #ED6A5A) repeat-x!important;
  background: #ed6a5a linear-gradient(180deg, #f08073, #ED6A5A) repeat-x!important
}

.td-box--10 {
  color: #fff;
  background-color: #30638e
}

.td-box--10 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #30638e transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--10 p>a {
  color: #cadcf5
}

.td-box--110.td-box--gradient {
  background: #30638E -webkit-gradient(linear, left top, left bottom, from(#4f7a9f), to(#30638E)) repeat-x!important;
  background: #30638e -webkit-linear-gradient(top, #4f7a9f, #30638E) repeat-x!important;
  background: #30638e -o-linear-gradient(top, #4f7a9f, #30638E) repeat-x!important;
  background: #30638e linear-gradient(180deg, #4f7a9f, #30638E) repeat-x!important
}

.td-box--11 {
  color: #fff;
  background-color: #d95040
}

.td-box--11 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #d95040 transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--11 p>a {
  color: #b1cbf1
}

.td-box--111.td-box--gradient {
  background: #D95040 -webkit-gradient(linear, left top, left bottom, from(#df6a5d), to(#D95040)) repeat-x!important;
  background: #d95040 -webkit-linear-gradient(top, #df6a5d, #D95040) repeat-x!important;
  background: #d95040 -o-linear-gradient(top, #df6a5d, #D95040) repeat-x!important;
  background: #d95040 linear-gradient(180deg, #df6a5d, #D95040) repeat-x!important
}

.td-box--12 {
  color: #222;
  background-color: #fff
}

.td-box--12 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #fff transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--12 p>a {
  color: #72a1e5
}

.td-box--112.td-box--gradient {
  background: white -webkit-gradient(linear, left top, left bottom, from(white), to(white)) repeat-x!important;
  background: #fff -webkit-linear-gradient(top, white, white) repeat-x!important;
  background: #fff -o-linear-gradient(top, white, white) repeat-x!important;
  background: #fff linear-gradient(180deg, white, white) repeat-x!important
}

.td-box--13 {
  color: #222;
  background-color: #c0e0de
}

.td-box--13 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #c0e0de transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--13 p>a {
  color: #638ac1
}

.td-box--113.td-box--gradient {
  background: #C0E0DE -webkit-gradient(linear, left top, left bottom, from(#c9e5e3), to(#C0E0DE)) repeat-x!important;
  background: #c0e0de -webkit-linear-gradient(top, #c9e5e3, #C0E0DE) repeat-x!important;
  background: #c0e0de -o-linear-gradient(top, #c9e5e3, #C0E0DE) repeat-x!important;
  background: #c0e0de linear-gradient(180deg, #c9e5e3, #C0E0DE) repeat-x!important
}

.td-box--blue {
  color: #fff;
  background-color: #72a1e5
}

.td-box--blue .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #72a1e5 transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--blue p>a {
  color: #a0c0ee
}

.td-box--1blue.td-box--gradient {
  background: #72A1E5 -webkit-gradient(linear, left top, left bottom, from(#87afe9), to(#72A1E5)) repeat-x!important;
  background: #72a1e5 -webkit-linear-gradient(top, #87afe9, #72A1E5) repeat-x!important;
  background: #72a1e5 -o-linear-gradient(top, #87afe9, #72A1E5) repeat-x!important;
  background: #72a1e5 linear-gradient(180deg, #87afe9, #72A1E5) repeat-x!important
}

.td-box--indigo {
  color: #fff;
  background-color: #6610f2
}

.td-box--indigo .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #6610f2 transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--indigo p>a {
  color: #b8cff2
}

.td-box--1indigo.td-box--gradient {
  background: #6610f2 -webkit-gradient(linear, left top, left bottom, from(#7d34f4), to(#6610f2)) repeat-x!important;
  background: #6610f2 -webkit-linear-gradient(top, #7d34f4, #6610f2) repeat-x!important;
  background: #6610f2 -o-linear-gradient(top, #7d34f4, #6610f2) repeat-x!important;
  background: #6610f2 linear-gradient(180deg, #7d34f4, #6610f2) repeat-x!important
}

.td-box--purple {
  color: #fff;
  background-color: #6f42c1
}

.td-box--purple .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #6f42c1 transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--purple p>a {
  color: #b7cff2
}

.td-box--1purple.td-box--gradient {
  background: #6f42c1 -webkit-gradient(linear, left top, left bottom, from(#855eca), to(#6f42c1)) repeat-x!important;
  background: #6f42c1 -webkit-linear-gradient(top, #855eca, #6f42c1) repeat-x!important;
  background: #6f42c1 -o-linear-gradient(top, #855eca, #6f42c1) repeat-x!important;
  background: #6f42c1 linear-gradient(180deg, #855eca, #6f42c1) repeat-x!important
}

.td-box--pink {
  color: #fff;
  background-color: #e83e8c
}

.td-box--pink .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #e83e8c transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--pink p>a {
  color: #aec9f0
}

.td-box--1pink.td-box--gradient {
  background: #e83e8c -webkit-gradient(linear, left top, left bottom, from(#eb5b9d), to(#e83e8c)) repeat-x!important;
  background: #e83e8c -webkit-linear-gradient(top, #eb5b9d, #e83e8c) repeat-x!important;
  background: #e83e8c -o-linear-gradient(top, #eb5b9d, #e83e8c) repeat-x!important;
  background: #e83e8c linear-gradient(180deg, #eb5b9d, #e83e8c) repeat-x!important
}

.td-box--red {
  color: #fff;
  background-color: #dc3545
}

.td-box--red .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #dc3545 transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--red p>a {
  color: #b4cdf1
}

.td-box--1red.td-box--gradient {
  background: #dc3545 -webkit-gradient(linear, left top, left bottom, from(#e15361), to(#dc3545)) repeat-x!important;
  background: #dc3545 -webkit-linear-gradient(top, #e15361, #dc3545) repeat-x!important;
  background: #dc3545 -o-linear-gradient(top, #e15361, #dc3545) repeat-x!important;
  background: #dc3545 linear-gradient(180deg, #e15361, #dc3545) repeat-x!important
}

.td-box--orange {
  color: #fff;
  background-color: #ba5a31
}

.td-box--orange .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #ba5a31 transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--orange p>a {
  color: #bed4f3
}

.td-box--1orange.td-box--gradient {
  background: #BA5A31 -webkit-gradient(linear, left top, left bottom, from(#c47350), to(#BA5A31)) repeat-x!important;
  background: #ba5a31 -webkit-linear-gradient(top, #c47350, #BA5A31) repeat-x!important;
  background: #ba5a31 -o-linear-gradient(top, #c47350, #BA5A31) repeat-x!important;
  background: #ba5a31 linear-gradient(180deg, #c47350, #BA5A31) repeat-x!important
}

.td-box--yellow {
  color: #fff;
  background-color: #ffc107
}

.td-box--yellow .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #ffc107 transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--yellow p>a {
  color: #b7cff2
}

.td-box--1yellow.td-box--gradient {
  background: #ffc107 -webkit-gradient(linear, left top, left bottom, from(#ffca2c), to(#ffc107)) repeat-x!important;
  background: #ffc107 -webkit-linear-gradient(top, #ffca2c, #ffc107) repeat-x!important;
  background: #ffc107 -o-linear-gradient(top, #ffca2c, #ffc107) repeat-x!important;
  background: #ffc107 linear-gradient(180deg, #ffca2c, #ffc107) repeat-x!important
}

.td-box--green {
  color: #fff;
  background-color: #28a745
}

.td-box--green .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #28a745 transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--green p>a {
  color: #c6d9f4
}

.td-box--1green.td-box--gradient {
  background: #28a745 -webkit-gradient(linear, left top, left bottom, from(#48b461), to(#28a745)) repeat-x!important;
  background: #28a745 -webkit-linear-gradient(top, #48b461, #28a745) repeat-x!important;
  background: #28a745 -o-linear-gradient(top, #48b461, #28a745) repeat-x!important;
  background: #28a745 linear-gradient(180deg, #48b461, #28a745) repeat-x!important
}

.td-box--teal {
  color: #fff;
  background-color: #20c997
}

.td-box--teal .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #20c997 transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--teal p>a {
  color: #bfd4f3
}

.td-box--1teal.td-box--gradient {
  background: #20c997 -webkit-gradient(linear, left top, left bottom, from(#41d1a7), to(#20c997)) repeat-x!important;
  background: #20c997 -webkit-linear-gradient(top, #41d1a7, #20c997) repeat-x!important;
  background: #20c997 -o-linear-gradient(top, #41d1a7, #20c997) repeat-x!important;
  background: #20c997 linear-gradient(180deg, #41d1a7, #20c997) repeat-x!important
}

.td-box--cyan {
  color: #fff;
  background-color: #17a2b8
}

.td-box--cyan .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #17a2b8 transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--cyan p>a {
  color: #c6d9f4
}

.td-box--1cyan.td-box--gradient {
  background: #17a2b8 -webkit-gradient(linear, left top, left bottom, from(#3ab0c3), to(#17a2b8)) repeat-x!important;
  background: #17a2b8 -webkit-linear-gradient(top, #3ab0c3, #17a2b8) repeat-x!important;
  background: #17a2b8 -o-linear-gradient(top, #3ab0c3, #17a2b8) repeat-x!important;
  background: #17a2b8 linear-gradient(180deg, #3ab0c3, #17a2b8) repeat-x!important
}

.td-box--white {
  color: #222;
  background-color: #fff
}

.td-box--white .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #fff transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--white p>a {
  color: #72a1e5
}

.td-box--1white.td-box--gradient {
  background: #fff -webkit-gradient(linear, left top, left bottom, from(white), to(#fff)) repeat-x!important;
  background: #fff -webkit-linear-gradient(top, white, #fff) repeat-x!important;
  background: #fff -o-linear-gradient(top, white, #fff) repeat-x!important;
  background: #fff linear-gradient(180deg, white, #fff) repeat-x!important
}

.td-box--gray {
  color: #fff;
  background-color: #888
}

.td-box--gray .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #888 transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--gray p>a {
  color: #b4cdf1
}

.td-box--1gray.td-box--gradient {
  background: #888 -webkit-gradient(linear, left top, left bottom, from(#9a9a9a), to(#888)) repeat-x!important;
  background: #888 -webkit-linear-gradient(top, #9a9a9a, #888) repeat-x!important;
  background: #888 -o-linear-gradient(top, #9a9a9a, #888) repeat-x!important;
  background: #888 linear-gradient(180deg, #9a9a9a, #888) repeat-x!important
}

.td-box--gray-dark {
  color: #fff;
  background-color: #333
}

.td-box--gray-dark .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #333 transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--gray-dark p>a {
  color: #e3ecfa
}

.td-box--1gray-dark.td-box--gradient {
  background: #333 -webkit-gradient(linear, left top, left bottom, from(#525252), to(#333)) repeat-x!important;
  background: #333 -webkit-linear-gradient(top, #525252, #333) repeat-x!important;
  background: #333 -o-linear-gradient(top, #525252, #333) repeat-x!important;
  background: #333 linear-gradient(180deg, #525252, #333) repeat-x!important
}

.td-box--primary {
  color: #fff;
  background-color: #30638e
}

.td-box--primary .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #30638e transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--primary p>a {
  color: #cadcf5
}

.td-box--1primary.td-box--gradient {
  background: #30638E -webkit-gradient(linear, left top, left bottom, from(#4f7a9f), to(#30638E)) repeat-x!important;
  background: #30638e -webkit-linear-gradient(top, #4f7a9f, #30638E) repeat-x!important;
  background: #30638e -o-linear-gradient(top, #4f7a9f, #30638E) repeat-x!important;
  background: #30638e linear-gradient(180deg, #4f7a9f, #30638E) repeat-x!important
}

.td-box--secondary {
  color: #fff;
  background-color: #d95040
}

.td-box--secondary .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #d95040 transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--secondary p>a {
  color: #b1cbf1
}

.td-box--1secondary.td-box--gradient {
  background: #D95040 -webkit-gradient(linear, left top, left bottom, from(#df6a5d), to(#D95040)) repeat-x!important;
  background: #d95040 -webkit-linear-gradient(top, #df6a5d, #D95040) repeat-x!important;
  background: #d95040 -o-linear-gradient(top, #df6a5d, #D95040) repeat-x!important;
  background: #d95040 linear-gradient(180deg, #df6a5d, #D95040) repeat-x!important
}

.td-box--success {
  color: #fff;
  background-color: #3772ff
}

.td-box--success .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #3772ff transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--success p>a {
  color: #a9c6ef
}

.td-box--1success.td-box--gradient {
  background: #3772FF -webkit-gradient(linear, left top, left bottom, from(#5587ff), to(#3772FF)) repeat-x!important;
  background: #3772ff -webkit-linear-gradient(top, #5587ff, #3772FF) repeat-x!important;
  background: #3772ff -o-linear-gradient(top, #5587ff, #3772FF) repeat-x!important;
  background: #3772ff linear-gradient(180deg, #5587ff, #3772FF) repeat-x!important
}

.td-box--info {
  color: #222;
  background-color: #c0e0de
}

.td-box--info .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #c0e0de transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--info p>a {
  color: #638ac1
}

.td-box--1info.td-box--gradient {
  background: #C0E0DE -webkit-gradient(linear, left top, left bottom, from(#c9e5e3), to(#C0E0DE)) repeat-x!important;
  background: #c0e0de -webkit-linear-gradient(top, #c9e5e3, #C0E0DE) repeat-x!important;
  background: #c0e0de -o-linear-gradient(top, #c9e5e3, #C0E0DE) repeat-x!important;
  background: #c0e0de linear-gradient(180deg, #c9e5e3, #C0E0DE) repeat-x!important
}

.td-box--warning {
  color: #fff;
  background-color: #ed6a5a
}

.td-box--warning .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #ed6a5a transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--warning p>a {
  color: #a5c3ee
}

.td-box--1warning.td-box--gradient {
  background: #ED6A5A -webkit-gradient(linear, left top, left bottom, from(#f08073), to(#ED6A5A)) repeat-x!important;
  background: #ed6a5a -webkit-linear-gradient(top, #f08073, #ED6A5A) repeat-x!important;
  background: #ed6a5a -o-linear-gradient(top, #f08073, #ED6A5A) repeat-x!important;
  background: #ed6a5a linear-gradient(180deg, #f08073, #ED6A5A) repeat-x!important
}

.td-box--danger {
  color: #fff;
  background-color: #ed6a5a
}

.td-box--danger .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #ed6a5a transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--danger p>a {
  color: #a5c3ee
}

.td-box--1danger.td-box--gradient {
  background: #ED6A5A -webkit-gradient(linear, left top, left bottom, from(#f08073), to(#ED6A5A)) repeat-x!important;
  background: #ed6a5a -webkit-linear-gradient(top, #f08073, #ED6A5A) repeat-x!important;
  background: #ed6a5a -o-linear-gradient(top, #f08073, #ED6A5A) repeat-x!important;
  background: #ed6a5a linear-gradient(180deg, #f08073, #ED6A5A) repeat-x!important
}

.td-box--light {
  color: #222;
  background-color: #d3f3ee
}

.td-box--light .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #d3f3ee transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--light p>a {
  color: #6993d0
}

.td-box--1light.td-box--gradient {
  background: #D3F3EE -webkit-gradient(linear, left top, left bottom, from(#daf5f1), to(#D3F3EE)) repeat-x!important;
  background: #d3f3ee -webkit-linear-gradient(top, #daf5f1, #D3F3EE) repeat-x!important;
  background: #d3f3ee -o-linear-gradient(top, #daf5f1, #D3F3EE) repeat-x!important;
  background: #d3f3ee linear-gradient(180deg, #daf5f1, #D3F3EE) repeat-x!important
}

.td-box--dark {
  color: #fff;
  background-color: #403f4c
}

.td-box--dark .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #403f4c transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--dark p>a {
  color: #d9e5f8
}

.td-box--1dark.td-box--gradient {
  background: #403F4C -webkit-gradient(linear, left top, left bottom, from(#5d5c67), to(#403F4C)) repeat-x!important;
  background: #403f4c -webkit-linear-gradient(top, #5d5c67, #403F4C) repeat-x!important;
  background: #403f4c -o-linear-gradient(top, #5d5c67, #403F4C) repeat-x!important;
  background: #403f4c linear-gradient(180deg, #5d5c67, #403F4C) repeat-x!important
}

.td-box--100 {
  color: #222;
  background-color: #f8f9fa
}

.td-box--100 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #f8f9fa transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--100 p>a {
  color: #709ee0
}

.td-box--1100.td-box--gradient {
  background: #f8f9fa -webkit-gradient(linear, left top, left bottom, from(#f9fafb), to(#f8f9fa)) repeat-x!important;
  background: #f8f9fa -webkit-linear-gradient(top, #f9fafb, #f8f9fa) repeat-x!important;
  background: #f8f9fa -o-linear-gradient(top, #f9fafb, #f8f9fa) repeat-x!important;
  background: #f8f9fa linear-gradient(180deg, #f9fafb, #f8f9fa) repeat-x!important
}

.td-box--200 {
  color: #222;
  background-color: #eee
}

.td-box--200 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #eee transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--200 p>a {
  color: #6d99d8
}

.td-box--1200.td-box--gradient {
  background: #eee -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#eee)) repeat-x!important;
  background: #eee -webkit-linear-gradient(top, #f1f1f1, #eee) repeat-x!important;
  background: #eee -o-linear-gradient(top, #f1f1f1, #eee) repeat-x!important;
  background: #eee linear-gradient(180deg, #f1f1f1, #eee) repeat-x!important
}

.td-box--300 {
  color: #222;
  background-color: #dee2e6
}

.td-box--300 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #dee2e6 transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--300 p>a {
  color: #6993cf
}

.td-box--1300.td-box--gradient {
  background: #dee2e6 -webkit-gradient(linear, left top, left bottom, from(#e3e6ea), to(#dee2e6)) repeat-x!important;
  background: #dee2e6 -webkit-linear-gradient(top, #e3e6ea, #dee2e6) repeat-x!important;
  background: #dee2e6 -o-linear-gradient(top, #e3e6ea, #dee2e6) repeat-x!important;
  background: #dee2e6 linear-gradient(180deg, #e3e6ea, #dee2e6) repeat-x!important
}

.td-box--400 {
  color: #222;
  background-color: #ccc
}

.td-box--400 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #ccc transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--400 p>a {
  color: #6288be
}

.td-box--1400.td-box--gradient {
  background: #ccc -webkit-gradient(linear, left top, left bottom, from(#d4d4d4), to(#ccc)) repeat-x!important;
  background: #ccc -webkit-linear-gradient(top, #d4d4d4, #ccc) repeat-x!important;
  background: #ccc -o-linear-gradient(top, #d4d4d4, #ccc) repeat-x!important;
  background: #ccc linear-gradient(180deg, #d4d4d4, #ccc) repeat-x!important
}

.td-box--500 {
  color: #fff;
  background-color: #adb5bd
}

.td-box--500 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #adb5bd transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--500 p>a {
  color: #9bbced
}

.td-box--1500.td-box--gradient {
  background: #adb5bd -webkit-gradient(linear, left top, left bottom, from(#b9c0c7), to(#adb5bd)) repeat-x!important;
  background: #adb5bd -webkit-linear-gradient(top, #b9c0c7, #adb5bd) repeat-x!important;
  background: #adb5bd -o-linear-gradient(top, #b9c0c7, #adb5bd) repeat-x!important;
  background: #adb5bd linear-gradient(180deg, #b9c0c7, #adb5bd) repeat-x!important
}

.td-box--600 {
  color: #fff;
  background-color: #888
}

.td-box--600 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #888 transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--600 p>a {
  color: #b4cdf1
}

.td-box--1600.td-box--gradient {
  background: #888 -webkit-gradient(linear, left top, left bottom, from(#9a9a9a), to(#888)) repeat-x!important;
  background: #888 -webkit-linear-gradient(top, #9a9a9a, #888) repeat-x!important;
  background: #888 -o-linear-gradient(top, #9a9a9a, #888) repeat-x!important;
  background: #888 linear-gradient(180deg, #9a9a9a, #888) repeat-x!important
}

.td-box--700 {
  color: #fff;
  background-color: #495057
}

.td-box--700 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #495057 transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--700 p>a {
  color: #d3e2f7
}

.td-box--1700.td-box--gradient {
  background: #495057 -webkit-gradient(linear, left top, left bottom, from(#646a70), to(#495057)) repeat-x!important;
  background: #495057 -webkit-linear-gradient(top, #646a70, #495057) repeat-x!important;
  background: #495057 -o-linear-gradient(top, #646a70, #495057) repeat-x!important;
  background: #495057 linear-gradient(180deg, #646a70, #495057) repeat-x!important
}

.td-box--800 {
  color: #fff;
  background-color: #333
}

.td-box--800 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #333 transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--800 p>a {
  color: #e3ecfa
}

.td-box--1800.td-box--gradient {
  background: #333 -webkit-gradient(linear, left top, left bottom, from(#525252), to(#333)) repeat-x!important;
  background: #333 -webkit-linear-gradient(top, #525252, #333) repeat-x!important;
  background: #333 -o-linear-gradient(top, #525252, #333) repeat-x!important;
  background: #333 linear-gradient(180deg, #525252, #333) repeat-x!important
}

.td-box--900 {
  color: #fff;
  background-color: #222
}

.td-box--900 .td-arrow-down::before {
  left: 50%;
  margin-left: -30px;
  bottom: -25px;
  border-style: solid;
  border-width: 25px 30px 0;
  border-color: #222 transparent transparent transparent;
  z-index: 3;
  position: absolute;
  content: ""
}

.td-box--900 p>a {
  color: #ecf2fc
}

.td-box--1900.td-box--gradient {
  background: #222 -webkit-gradient(linear, left top, left bottom, from(#434343), to(#222)) repeat-x!important;
  background: #222 -webkit-linear-gradient(top, #434343, #222) repeat-x!important;
  background: #222 -o-linear-gradient(top, #434343, #222) repeat-x!important;
  background: #222 linear-gradient(180deg, #434343, #222) repeat-x!important
}

.td-blog .td-rss-button {
  position: absolute;
  top: 5.5rem;
  right: 1rem;
  z-index: 22
}

.td-content .highlight {
  margin: 2rem 0;
  padding: 1rem;
  background-color: #f8f9fa
}

.td-content .highlight pre,
.td-content .highlight div {
  background-color: inherit!important
}

.td-content .highlight pre {
  margin: 0;
  padding: 0
}

.td-content p code,
.td-content li>code,
.td-content table code {
  color: inherit;
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  word-break: normal;
  background-color: rgba(0, 0, 0, .05);
  border-radius: .25rem
}

.td-content p code br,
.td-content li>code br,
.td-content table code br {
  display: none
}

.td-content pre {
  word-wrap: normal;
  background-color: #f8f9fa;
  padding: 1rem
}

.td-content pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  border: 0
}

.td-navbar-cover {
  background: #bbbb90
}

@media(min-width:768px) {
  .td-navbar-cover {
    background: transparent!important
  }
  .td-navbar-cover .nav-link {
    text-shadow: 1px 1px 2px #403f4c
  }
}

.td-navbar-cover.navbar-bg-onscroll .nav-link {
  text-shadow: none
}

.navbar-bg-onscroll {
  background: #30638e!important;
  opacity: inherit
}

.td-navbar {
  background: #bbbb90;
  min-height: 4rem;
  margin: 0;
  z-index: 32
}

@media(min-width:768px) {
  .td-navbar {
    position: fixed;
    top: 0;
    width: 100%
  }
}

.td-navbar .navbar-brand {
  text-transform: none;
  text-align: middle
}

.td-navbar .navbar-brand .nav-link {
  display: inline-block;
  margin-right: -30px
}

.td-navbar .navbar-brand svg {
  display: inline-block;
  margin: 0 10px;
  height: 30px
}

.td-navbar .nav-link {
  text-transform: none;
  font-weight: 700
}

.td-navbar .td-search-input {
  border: none
}

.td-navbar .td-search-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .75)
}

.td-navbar .td-search-input:-moz-placeholder {
  color: rgba(255, 255, 255, .75)
}

.td-navbar .td-search-input::-moz-placeholder {
  color: rgba(255, 255, 255, .75)
}

.td-navbar .td-search-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, .75)
}

.td-navbar .dropdown {
  min-width: 100px
}



@media(max-width:991.98px) {
  .td-navbar {
    padding-right: .5rem;
    padding-left: .75rem
  }
  .td-navbar .td-navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    overflow: hidden;
    font-size: .875rem
  }
  .td-navbar .td-navbar-nav-scroll .nav-link {
    padding-right: .25rem;
    padding-left: 0
  }
  .td-navbar .td-navbar-nav-scroll .navbar-nav {
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch
  }
}

.td-sidebar-nav {
  padding-right: .5rem;
  margin-right: -15px;
  margin-left: -15px
}

@media(min-width:768px) {
  @supports((position: -webkit-sticky) or (position:sticky)) {
    .td-sidebar-nav {
      max-height:-webkit-calc(100vh - 10rem);
      max-height: calc(100vh - 10rem);
      overflow-y: auto
    }
  }
}

@media(min-width:768px) {
  .td-sidebar-nav {
    display: block!important
  }
}

.td-sidebar-nav__section {
  padding-left: 0
}

.td-sidebar-nav__section li {
  list-style: none
}

.td-sidebar-nav__section ul {
  padding: 0;
  margin: 0
}

@media(min-width:768px) {
  .td-sidebar-nav__section>ul {
    padding-left: .5rem
  }
}

.td-sidebar-nav__section-title {
  display: block;
  font-weight: 500
}

.td-sidebar-nav__section-title .active {
  font-weight: 700
}

.td-sidebar-nav__section-title a {
  color: #222
}

.td-sidebar-nav .td-sidebar-link {
  display: block;
  padding-bottom: .375rem
}

.td-sidebar-nav .td-sidebar-link__page {
  color: #495057;
  font-weight: 300
}

.td-sidebar-nav a:hover {
  color: #72a1e5;
  text-decoration: none
}

.td-sidebar-nav a.active {
  font-weight: 700
}

.td-sidebar-nav .dropdown a {
  color: #495057
}

.td-sidebar-nav .dropdown .nav-link {
  padding: 0 0 1rem
}

.td-sidebar {
  padding-bottom: 1rem
}

@media(min-width:768px) {
  .td-sidebar {
    padding-top: 4rem;
    background-color: rgba(48, 99, 142, .03);
    padding-right: 1rem;
    border-right: 1px solid #dee2e6
  }
}

.td-sidebar__toggle {
  line-height: 1;
  color: #222;
  margin: 1rem
}

.td-sidebar__search {
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px
}

.td-sidebar__inner {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0
}

@media(min-width:768px) {
  @supports((position: -webkit-sticky) or (position:sticky)) {
    .td-sidebar__inner {
      position:-webkit-sticky;
      position: sticky;
      top: 4rem;
      z-index: 10;
      height: -webkit-calc(100vh - 6rem);
      height: calc(100vh - 6rem)
    }
  }
}

@media(min-width:1200px) {
  .td-sidebar__inner {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 320px;
    -ms-flex: 0 1 320px;
    flex: 0 1 320px
  }
}

.td-sidebar__inner .td-search-box {
  width: 100%
}

.td-toc {
  border-left: 1px solid #dee2e6;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  padding-top: .75rem;
  padding-bottom: 1.5rem;
  vertical-align: top
}

@supports((position:-webkit-sticky) or (position:sticky)) {
  .td-toc {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    height: -webkit-calc(100vh - 10rem);
    height: calc(100vh - 10rem);
    overflow-y: auto
  }
}

.td-toc a {
  display: block;
  font-weight: 300;
  padding-bottom: .25rem
}

.td-toc li {
  list-style: none;
  display: block
}

.td-toc li li {
  margin-left: .5rem
}

.td-toc .td-page-meta a {
  font-weight: 500
}

.td-toc #TableOfContents a {
  color: #888
}

.td-toc #TableOfContents a:hover {
  color: #72a1e5;
  text-decoration: none
}

.td-toc ul {
  padding-left: 0
}

.btn {
  border-radius: 1rem
}

.btn-lg,
.btn-group-lg>.btn {
  border-radius: 2rem
}

.btn-sm,
.btn-group-sm>.btn {
  border-radius: 1rem
}

.breadcrumb {
  background: 0 0;
  padding-left: 0;
  padding-top: 0
}

.alert {
  font-weight: 500;
  background: #fff;
  color: inherit;
  border-radius: 0
}

.alert-primary {
  border-style: solid;
  border-color: #30638e;
  border-width: 0 0 0 4px
}

.alert-primary .alert-heading {
  color: #30638e
}

.alert-secondary {
  border-style: solid;
  border-color: #d95040;
  border-width: 0 0 0 4px
}

.alert-secondary .alert-heading {
  color: #d95040
}

.alert-success {
  border-style: solid;
  border-color: #3772ff;
  border-width: 0 0 0 4px
}

.alert-success .alert-heading {
  color: #3772ff
}

.alert-info {
  border-style: solid;
  border-color: #c0e0de;
  border-width: 0 0 0 4px
}

.alert-info .alert-heading {
  color: #c0e0de
}

.alert-warning {
  border-style: solid;
  border-color: #ed6a5a;
  border-width: 0 0 0 4px
}

.alert-warning .alert-heading {
  color: #ed6a5a
}

.alert-danger {
  border-style: solid;
  border-color: #ed6a5a;
  border-width: 0 0 0 4px
}

.alert-danger .alert-heading {
  color: #ed6a5a
}

.alert-light {
  border-style: solid;
  border-color: #d3f3ee;
  border-width: 0 0 0 4px
}

.alert-light .alert-heading {
  color: #d3f3ee
}

.alert-dark {
  border-style: solid;
  border-color: #403f4c;
  border-width: 0 0 0 4px
}

.alert-dark .alert-heading {
  color: #403f4c
}

.td-content {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1
}

.td-content p,
.td-content li,
.td-content td {
  font-weight: 400
}

.td-content>h1 {
  font-weight: 700;
  margin-bottom: 1rem
}

.td-content>h2 {
  margin-bottom: 1rem
}

.td-content>h2:not(:first-child) {
  margin-top: 3rem
}

.td-content>h2+h3 {
  margin-top: 1rem
}

.td-content>h3,
.td-content>h4,
.td-content>h5,
.td-content>h6 {
  margin-bottom: 1rem;
  margin-top: 2rem
}

.td-content>blockquote {
  padding: 0 0 0 1rem;
  margin-bottom: 1rem;
  color: #888;
  border-left: 6px solid #d95040
}

.td-content>ul li,
.td-content>ol li {
  margin-bottom: .25rem
}

.td-content strong {
  font-weight: 700
}

.td-content .alert:not(:first-child) {
  margin-top: 2rem;
  margin-bottom: 2rem
}

.td-content .lead {
  margin-bottom: 1.5rem
}

.td-title {
  margin-top: 1rem;
  margin-bottom: .5rem
}

@media(min-width:576px) {
  .td-title {
    font-size: 3rem
  }
}

.td-search-input {
  background: transparent;
  border-radius: 1rem;
  font-family: "font awesome 5 free", open sans, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol
}

.td-search-input.form-control:focus {
  border-color: #f5f8fb;
  -webkit-box-shadow: 0 0 0 2px #82afd5;
  box-shadow: 0 0 0 2px #82afd5
}

.td-outer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh
}

@media(min-width:768px) {
  .td-default main section:first-of-type {
    padding-top: 8rem
  }
}

.td-main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.td-main main {
  padding-bottom: 2rem
}

@media(min-width:768px) {
  .td-main main {
    padding-top: 5.5rem
  }
}

.td-cover-block--height-min {
  min-height: 300px
}

.td-cover-block--height-med {
  min-height: 400px
}

.td-cover-block--height-max {
  min-height: 500px
}

.td-cover-block--height-full {
  min-height: 100vh
}

@media(min-width:768px) {
  .td-cover-block--height-min {
    min-height: 450px
  }
  .td-cover-block--height-med {
    min-height: 500px
  }
  .td-cover-block--height-max {
    min-height: 650px
  }
}

.td-cover-logo {
  margin-right: .5em
}

.td-cover-block {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -webkit-background-size: cover;
  background-size: cover
}

.td-bg-arrow-wrapper {
  position: relative
}

.section-index .entry {
  padding: .75rem
}

.section-index h5 {
  margin-bottom: 0
}

.section-index h5 a {
  font-weight: 700
}

.section-index p {
  margin-top: 0
}

.pageinfo {
  font-weight: 500;
  background: #f8f9fa;
  color: inherit;
  border-radius: 0;
  margin: 2rem;
  padding: 1.5rem;
  padding-bottom: .5rem
}

.pageinfo-primary {
  border-style: solid;
  border-color: #30638e
}

.pageinfo-secondary {
  border-style: solid;
  border-color: #d95040
}

.pageinfo-success {
  border-style: solid;
  border-color: #3772ff
}

.pageinfo-info {
  border-style: solid;
  border-color: #c0e0de
}

.pageinfo-warning {
  border-style: solid;
  border-color: #ed6a5a
}

.pageinfo-danger {
  border-style: solid;
  border-color: #ed6a5a
}

.pageinfo-light {
  border-style: solid;
  border-color: #d3f3ee
}

.pageinfo-dark {
  border-style: solid;
  border-color: #403f4c
}

footer {
  min-height: 150px
}

@media(max-width:991.98px) {
  footer {
    min-height: 200px
  }
}

@media(min-width:768px) {
  .td-offset-anchor:target {
    display: block;
    position: relative;
    top: -4rem;
    visibility: hidden
  }
  h2[id]:before,
  h3[id]:before,
  h4[id]:before,
  h5[id]:before {
    display: block;
    content: " ";
    margin-top: -5rem;
    height: 5rem;
    visibility: hidden
  }
}

@media screen and (max-width:500px) {
  .display-1 { font-size: 3rem }
}
