<!doctype html>
<html lang="en" class="no-js">
  {{>site/templates/head.html}}
  <body class="td-section">
    {{>site/templates/header.html}}
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <div class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
            <div id="td-sidebar-menu" class="td-sidebar__inner">
	      <form action="//google.com/search" class="td-sidebar__search d-flex align-items-center searchform">
           <input type="search" class="form-control td-search-input" placeholder="&#xf002 Search this site…" aria-label="Search this site…" autocomplete="off">
	   <input type="hidden" name="sitesearch" value="{{{baseUrl}}}">
    <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ml-3 fas fa-bars" type="button" data-toggle="collapse" data-target="#td-section-nav" aria-controls="td-docs-nav" aria-expanded="false" aria-label="Toggle section navigation">
    </button>
  </form>
            {{>site/templates/toc.html}}
            </div>
          </div>
          <main class="col-12 col-md-9 col-xl-8 pl-md-5" role="main">
            <div class="td-content">
              {{{content}}}
            </div>
          <div class="section-index">
	  <hr class="panel-line">
	  {{#subsections}}
          <div class="entry">
            <h5>
              <a href="{{url}}">{{title}}</a>
            </h5>
	    <p>{{description}}</p>
          </div>
	  {{/subsections}}
	  </div>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
