<header>
  <nav class="js-navbar-scroll navbar navbar-expand navbar-dark flex-column flex-md-row td-navbar">
  <a class="navbar-brand" href="/">
     <span class="navbar-logo"><img src="/images/logo.png" height=25px /></span>
     Modern Practical Haskell
  </a>
  <div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item mr-4 mb-2 mb-lg-0">
        <a class="nav-link active" href="/docs/" ><span class="active">Documentation</span></a>
      </li>
      <li class="nav-item mr-4 mb-2 mb-lg-0">
        <a class="nav-link active" href="/posts" ><span class="active">Posts</span></a>
      </li>
      <li class="nav-item mr-4 mb-2 mb-lg-0">
        <a class="nav-link" href="https://gitlab.com/shakebook-site/shakebook-site.gitlab.io" target="_blank" ><span class="active">Gitlab</span></a>
      </li>
      <div class="navbar-nav d-none d-lg-block">
         <form action="//google.com/search" method="get" accept-charset="UTF-8" class="search-form">
          <input type="search" name="q" class="form-control td-search-input search-form-input" placeholder="&#xf002 Search">
          <input type="hidden" name="sitesearch" value="{{{baseUrl}}}" />
          </form>
      </div>
    </ul>
  </div>
</nav>
</header>
