<!doctype html>
<html lang="en" class="no-js">
  {{>site/templates/head.html}}
  <body class="td-home">
    {{>site/templates/header.html}}
    <div class="container-fluid td-default td-outer">
      <main role="main" class="td-main">
        <style>
#td-cover-block-0 {
  background-image: url(/images/splash.jpg); 
}
        </style>
        <section id="td-cover-block-0" class="row td-cover-block td-cover-block--height-full js-td-cover td-overlay td-overlay--dark -text-white">
          <div class="container td-overlay__inner">
            <div class="row">
              <div class="col-12">
                <div class="text-center">
                  <h1 class="display-1 mt-0 mt-md-5 pb-4">Modern Practical Haskell</h1>
                  <div class="pt-3 lead">
                    <div class="mx-auto">
                      <p class="lead mt-5">
                         A course for beginners combining time-tested theory and state of the art libraries.
                      </p>
                     <p>
                         Read the  <a href="/docs">docs</a> online or grab the <a href="/book.pdf">PDF</a> copy.
                     </p> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
