<!doctype html>
<html lang="en" class="no-js">
  {{>site/templates/head.html}}
  <body class="td-section">
    {{>site/templates/header.html}}
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <div class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
            <div id="td-sidebar-menu" class="td-sidebar__inner">
              <form class="td-sidebar__search d-flex align-items-center">
                <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ml-3 fas fa-bars" type="button" data-toggle="collapse" data-target="#td-section-nav" aria-controls="td-docs-nav" aria-expanded="false" aria-label="Toggle section navigation">
                </button>
              </form>
              {{>site/templates/toc.html}}
            </div>
          </div>
          <main class="col-12 col-md-9 col-xl-8 pl-md-5" role="main">
            <div class="row">
              <div class="col-12">
                <h2>Posts</h2>
                <ul class="list-unstyled mt-4">
                  {{#posts}}
                  <li class="media mb-4">
                    <div class="media-body">
                      <h5 class="mt-0 mb-1"><a href="{{{url}}}">{{{title}}}</a></h5>
                      <p class="mb-2 mb-md-3"><small class="text-muted">{{{date}}}</small></p>
                      <figure class="float-left mr-3 pt-1 d-none d-md-block" style="width: 250px">
                        <img src="{{{image}}}" width="250" height="125">
                      </figure>
                      <p class="pt-0 mt-0">{{{description}}}
                      <p class="pt-0"><a href="{{{url}}}">Read more</a></p>
                    </div>
                  </li>
                  {{/posts}}
                </ul>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
