<!doctype html>
<html lang="en" class="no-js">
  {{>site/templates/head.html}}
  <body class="td-section">
    {{>site/templates/header.html}}
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <div class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
            <div id="td-sidebar-menu" class="td-sidebar__inner">
              <form class="td-sidebar__search d-flex align-items-center">
                <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ml-3 fas fa-bars" type="button" data-toggle="collapse" data-target="#td-section-nav" aria-controls="td-docs-nav" aria-expanded="false" aria-label="Toggle section navigation">
               </button>
             </form>
            {{>site/templates/toc.html}}
            </div>
          </div>
          <main class="col-12 col-md-9 col-xl-8 pl-md-5" role="main">
            <div class="td-content">
              <h1>{{{title}}}</h1>
              <div class="td-byline mb-4">
                <time datetime="2018-10-06" class="text-muted">{{{date}}}</time>
              </div>
              {{{content}}}
            </div>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
